[Unit]
Description=Reverse Proxy Server by nginx
Requires=docker.service
After=docker.service

[Service]
# Change WorkingDirectory to suit your environment
WorkingDirectory = /path/to/this/repository
ExecStart=/path/to/this/repository/launch.sh start
ExecStop=/path/to/this/repository/launch.sh stop

# Change User
User=nginx-rp

Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
